---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import mimetizaIcon from "~/assets/icono.png";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Un poco sobre nosotros" id="intro">
 
  
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <div class="pattern-dots-md gray-light">
<img style="transform:translate(40px, -40px);" src="https://placehold.co/600x400"/>
</div>
<p class="text-lg text-justify">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam aspernatur officia, veniam ducimus quae officiis nam odit! Et nesciunt aperiam similique expedita quod ab quibusdam eligendi, earum dolor, ut incidunt.
  </p>
    
  </div>
</ContentSection>
